{% extends 'back/backbase.html.twig' %}

{% block title %}Edit Sinstre{% endblock %}

{% block body %}
    <h1>Edit Sinstre</h1>

    {{ include('sinstre/backoffice/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sinstre_indexback') }}"><button type="button" class="btn btn-outline-primary">back to list</button></a>

    {{ include('sinstre/backoffice/_delete_form.html.twig') }}
{% endblock %}
