
{{include('back/base.html.twig')}}
<head>

<head>

<footer id="footer" class="footer">
<div class="form">
    {{ include('blog/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <br>
    <br>
    <br>
    <br>

    <a href="{{ path('app_blog_index') }}" class="btn btn-primary">back to list</a>

    {{ include('blog/_delete_form.html.twig') }}
    
    </footer>
    
    
